
.details-page-main-image
{
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    border: 10px solid #868686;
}
.details-page-main-image::after
{
    opacity: var(--opacity);
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: var(--url);
    background-size: 200%;
    background-position: var(--zoom-x) var(--zoom-y);
    position: absolute;
    top: 0;
    left: 0;
}
.details-page-main-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.product-gallery-images
{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
}
.product-gallery-images .gallery-image
{
    padding: 5px;
}
.product-gallery-images .gallery-image img
{
    width: 100%;
}
.product_detail
{
    padding: 10px;
}
.buttons button
{
    margin: 10px 0;
    width: 80%;
}
.buttons .revamp,.custom-new-pair
{
    transition: 0.3s linear;
}
.buttons .revamp:hover,.custom-new-pair:hover
{
    background-color: black;
    color: #f0f0f0;
}
.buttons .connect-now
{
    background-color: black;
    color: #f0f0f0;
    transition: 0.3s linear;
    font-size: 18px;
}
.buttons .connect-now:hover
{
    background-color: #f0f0f0;
    color: black;
}