.frontimage
{
    width: 10%;
}
thead
{
    position: sticky;
    top: 10px;
}
thead tr td
{
    background-color: var(--color-1);
    color: var(--color-4);
    text-align: center;
    padding: 0 10px;
}
tbody tr td
{
    text-align: center;
    padding: 5px 10px;
    width: fit-content;
}
.product_table
{
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 0 5px 5px whitesmoke;
    background: whitesmoke;
    border-radius: 10px;
}
.product_edit,.product_delete
{
    cursor: pointer;
}
.product_edit a{
    text-decoration: none;
    color: var(--color-1) !important;
}
